

# Warning: Do not add secrets (API keys and similar) to this file, as it is source controlled!
# Use `.env.local` for any secrets, and ensure it is not added to source control.

NEXT_PUBLIC_SANITY_PROJECT_ID="bk8rw7yi"
NEXT_PUBLIC_SANITY_DATASET="development"

SANITY_API_READ_TOKEN=
SANITY_REVALIDATE_SECRET=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
WEBDOC_USERNAME=
WEBDOC_PASSWORD=
WEBDOC_USER_UUID=
WEBDOC_BASE_URL="https://api-integration.carasent.net"
WEBDOC_AUTH_URL="https://auth-integration.carasent.net/oauth/token"
NEXT_PUBLIC_DISABLE_WEBDOC_BOOKING=true
NEXT_PUBLIC_PATIENTSKY_IFRAME_URL=https://psno-patient-platform-fe.svc.pasientsky.no
NEXT_PUBLIC_PATIENTSKY_API_URL=https://psno-planner.svc.pasientsky.no
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=
NEXT_PUBLIC_MAPBOX_STYLE_URL="mapbox://styles/fredriklb/ckvunkiba35ms14ujg1xusndr"
NEXT_PUBLIC_IFRAME_RESIZER_LICENSE_KEY=
